# Ignore Python virtual environments
venv/
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore compiled and build artifacts
*.log
*.egg-info/
dist/
build/

# Ignore Docker cache files
*.pid
