body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;  /* Keeps video behind content */
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}

h1 {
    color: #333;
    margin: 20px auto;
    width: max-content;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
